.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 4px solid red;
  justify-content: space-between;
}

.child {
  height: 150px;
  width: 150px;
  margin: 5px;
  flex-grow: 1;
  border: 1px solid black;


}

.child:nth-child(1) {
  flex-grow: 5;
  background-color: yellow;
}

.child:nth-child(2) {
  background-color: green;
}

.child:nth-child(3) {
  flex-grow: 1;
  background-color: yellow;
}


.child:nth-child(4) {
  flex-grow: 2;
  background-color: yellow;
}

.child:nth-child(5) {
  background-color: green;
}

.child:nth-child(6) {
  flex-grow: 2;
  background-color: yellow;
}

.child:nth-child(7) {
  flex-grow:  2;
  background-color: green;
}

.child:nth-child(8) {
  background-color: green;
}

.child:nth-child(9) {
  background-color: green;
}
